*{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(158, 19, 200);
  background: radial-gradient(
  circle,
  rgba(158, 19, 200, 0.7849264705882353) 0%,
  rgba(224, 132, 230, 1) 43%,
  rgba(255, 28, 143, 1) 81%
  );
}
.container{
  font-size: 1.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 700px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 33px 0 rgba(35, 35, 35, 0.1);
  color: #232323;
  border-radius: 20px;
  border: 10px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.34);
}
.gif{
  position: relative;
  height: 300px;
  
}
.btn-group{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
button{
  position: absolute;
  font-size: 0.75em;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px grey;
  cursor: pointer;
  color: #fff;
  outline: none;
  
}
button:nth-child(1){
  margin-left: -100px;
  height: 8vh;
  width: 10vh;
  background: limegreen;
  
}
button:nth-child(2){
  margin-right: -100px;
  height: 8vh;
  width: 10vh;
  background: red;
  
}
